.popup-content {
  margin: auto;
  background: #2F9380;
  width: 25%;
  padding: 3%;
  border: 3px solid white;
  border-radius: 5px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.modalMessage{
  font-family: "Poppins";
  font-size: 20px;
  margin-bottom: 2%;
  color: black;
}

.yesButton {
  margin: 2%;
  padding: 1% 2%;
  width: 5rem;
  background-color: #014a3d;
  color: white;
  border-radius: 10px;
  border-style: none;
}

.noButton {
  margin: 2%;
  padding: 1% 2%;
  width: 5rem;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #014a3d;
}
