.formContainer {
    padding: 0 10%;
}


.formPlace {
    background-color: #2F9380;
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 2%;
    text-align: left;
}

.imageSection {
    text-align: center;
}